SERDFDEV/linkedTemplates/ArmTemplate_23.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "SERDFDEV"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/CD_SISBI_BI_TipoDeduccion')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy_mot",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "dbo.BI_TipoDeduccion"
							},
							{
								"name": "Destination",
								"value": "SISBI/BI_TipoDeduccion"
							}
						],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource"
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureDataLakeStoreWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "SourceDataset_BI_TipoDeduccion",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DestinationDataset_BI_TipoDeduccion",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/CD_SISBI_BI_TipoDocumentoCliente')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy_0wd",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "dbo.BI_TipoDocumentoCliente"
							},
							{
								"name": "Destination",
								"value": "SISBI/BI_TipoDocumentoCliente"
							}
						],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource"
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureDataLakeStoreWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "SourceDataset_BI_TipoDocumentoCliente",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Destination_BI_TipoDocumentoCliente",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/CD_SISBI_BI_TipoEmpresaSICERE')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy_88s",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "dbo.BI_TipoEmpresaSICERE"
							},
							{
								"name": "Destination",
								"value": "SISBI/BI_TipoEmpresaSICERE"
							}
						],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource"
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureDataLakeStoreWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "SourceDataset_BI_TipoEmpresaSICERE",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Destination_BI_TIpoEmpresaSICERE",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/CD_SISBI_BI_TipoResumen')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy_47f",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "dbo.BI_TipoResumen"
							},
							{
								"name": "Destination",
								"value": "SISBI/BI_TipoResumen"
							}
						],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource"
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureDataLakeStoreWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "SourceDataset_BI_TipoResumen",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Destination_BI_TipoResumen",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/CD_SISBI_BI_TipodeClientes')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy_1ik",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "dbo.BI_TipodeClientes"
							},
							{
								"name": "Destination",
								"value": "SISBI/BI_TipodeClientes"
							}
						],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource"
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureDataLakeStoreWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "SourceDataset_BI_TipodeClientes",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DestinationDataset_BI_TipodeClientes",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/CD_SISBI_BI_TiposAgencia')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy_w9c",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "dbo.BI_TiposAgencia"
							},
							{
								"name": "Destination",
								"value": "SISBI/BI_TiposAgencia"
							}
						],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource"
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureDataLakeStoreWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "SourceDataset_BI_TiposAgencia",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Destination_TiposAgencia",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/CD_SISBI_BI_TiposCambioBCCR')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy_uuh",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "dbo.BI_TiposCambioBCCR"
							},
							{
								"name": "Destination",
								"value": "SISBI/BI_TiposCambioBCCR"
							}
						],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource"
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureDataLakeStoreWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "SourceDataset_BI_TiposCambioBCCR",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Destination_BI_TiposCambioBCCR",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/CD_SISBI_BI_TiposDestinos')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy_2r1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "dbo.BI_TiposDestinos"
							},
							{
								"name": "Destination",
								"value": "SISBI/BI_TiposDestinos"
							}
						],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource"
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureDataLakeStoreWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "SourceDataset_BI_TiposDestinos",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Destination_BI_TiposDestinos",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/CD_SISBI_BI_TiposGarantia')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy_y01",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "dbo.BI_TiposGarantia"
							},
							{
								"name": "Destination",
								"value": "SISBI/BI_TiposGarantia"
							}
						],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource"
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureDataLakeStoreWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "SourceDataset_BI_TiposGarantia",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Destination_BI_TiposGarantia",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/CD_SISBI_BI_TotalSaldCliGen')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy_ysj",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "dbo.BI_TotalSaldCliGen"
							},
							{
								"name": "Destination",
								"value": "SISBI/BI_TotalSaldCliGen"
							}
						],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource"
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureDataLakeStoreWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "SourceDataset_BI_TotalSaldCliGen",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DestinationDataset_BI_TotalSaldCliGen",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/CD_SISBI_BI_Zonas')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy_w71",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "dbo.BI_Zonas"
							},
							{
								"name": "Destination",
								"value": "SISBI/BI_Zonas"
							}
						],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource"
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureDataLakeStoreWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "SourceDataset_BI_Zonas",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Destination_BI_Zonas",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/CD_SISBI_TPR_BCOSectEconBCCR')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy_y0t",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "Catalogo.TPR_BCOSectEconBCCR"
							},
							{
								"name": "Destination",
								"value": "SISBI/TPR_BCOSectEconBCCR"
							}
						],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource"
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureDataLakeStoreWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "SourceDataset_TPR_BCOSectEconBCCR",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DestinationDataset_TPR_BCOSectEconBCCR",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/CopyPipeline_xdr')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy_xdr",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "Comun.BI_TiposMonedas"
							},
							{
								"name": "Destination",
								"value": "DEV/Tabla de prueba"
							}
						],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource"
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureDataLakeStoreWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "SourceDataset_xdr",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DestinationDataset_xdr",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Transformacion Credito')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "SP_DWH_Eliminar_STAGE",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Transformacion_NodefinidoCredito",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "SP_DWH_Elimina_Stage",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Transformacion_NodefinidoCredito",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Transformacion_NodefinidoCredito",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Transformacion_FACT_Captacion')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Ini_Bitacora_Transformacion_DIM",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[InformacionBitacora]",
							"storedProcedureParameters": {
								"Evento": {
									"value": "Transformación DIM Captación",
									"type": "String"
								},
								"Mensaje": {
									"value": "Proceso Ejecutándose",
									"type": "String"
								},
								"Origen": {
									"value": "Data Factory - DWH - Transformacion_FACT_Captacion",
									"type": "String"
								},
								"TipoBitacora": {
									"value": "1",
									"type": "Int16"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "DW_Popular",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Transformacion_DIM_Captacion",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Ini_Bitacora_Transformacion_DIM",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Transformacion_DIM_Captacion",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Fin_Bitacora_Transformacion_DIM",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Transformacion_DIM_Captacion",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[InformacionBitacora]",
							"storedProcedureParameters": {
								"Evento": {
									"value": "Transformación DIM Captación",
									"type": "String"
								},
								"Mensaje": {
									"value": "Proceso Finalizado Exitosamente",
									"type": "String"
								},
								"Origen": {
									"value": "Data Factory - DWH - Transformacion_Captacion",
									"type": "String"
								},
								"TipoBitacora": {
									"value": "2",
									"type": "Int16"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "DW_Popular",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Fin_Bitacora_Transformacion_DIM_Error",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Transformacion_DIM_Captacion",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[InformacionBitacora]",
							"storedProcedureParameters": {
								"Evento": {
									"value": "Transformación DIM Captación",
									"type": "String"
								},
								"Mensaje": {
									"value": "Proceso Fallido",
									"type": "String"
								},
								"Origen": {
									"value": "Data Factory - DWH - Transformacion_FACT_Captación",
									"type": "String"
								},
								"TipoBitacora": {
									"value": "2",
									"type": "Int16"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "DW_Popular",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Ini_Bitacora_Carga_NoDefinido",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Fin_Bitacora_Transformacion_DIM",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[InformacionBitacora]",
							"storedProcedureParameters": {
								"Evento": {
									"value": "Carga No Definido DIM  Captación",
									"type": "String"
								},
								"Mensaje": {
									"value": "Proceso Ejecutándose",
									"type": "String"
								},
								"Origen": {
									"value": "Data Factory - DWH - Transformacion_FACT_Captacion",
									"type": "String"
								},
								"TipoBitacora": {
									"value": "1",
									"type": "Int16"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "DW_Popular",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "SP_DWH_Carga_NoDefinido_Captacion",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Ini_Bitacora_Carga_NoDefinido",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "SP_DWH_Carga_NoDefinido_Captacion",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Fin_Bitacora_Carga_NoDefinido_Captacion",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "SP_DWH_Carga_NoDefinido_Captacion",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[InformacionBitacora]",
							"storedProcedureParameters": {
								"Evento": {
									"value": "Carga No Definido DIM  Captación",
									"type": "String"
								},
								"Mensaje": {
									"value": "Proceso Finalizado Exitosamente",
									"type": "String"
								},
								"Origen": {
									"value": "Data Factory - DWH -Transformacion_FACT_Captacion",
									"type": "String"
								},
								"TipoBitacora": {
									"value": "2",
									"type": "Int16"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "DW_Popular",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Fin_Bitacora_Carga_NoDefinido_Captacion_error",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "SP_DWH_Carga_NoDefinido_Captacion",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[InformacionBitacora]",
							"storedProcedureParameters": {
								"Evento": {
									"value": "Carga No Definido DIM  Captación",
									"type": "String"
								},
								"Mensaje": {
									"value": "Proceso Fallido",
									"type": "String"
								},
								"Origen": {
									"value": "Data Factory - DWH - Transformacion_FACT_Captacion",
									"type": "String"
								},
								"TipoBitacora": {
									"value": "2",
									"type": "Int16"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "DW_Popular",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Ini_Bitacora_Carga_FACT_Captacion",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Fin_Bitacora_Carga_NoDefinido_Captacion",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[InformacionBitacora]",
							"storedProcedureParameters": {
								"Evento": {
									"value": "Carga FACT Captación",
									"type": "String"
								},
								"Mensaje": {
									"value": "Proceso Ejecutándose",
									"type": "String"
								},
								"Origen": {
									"value": "Data Factory - DWH - Transformacion_FACT_Captacion",
									"type": "String"
								},
								"TipoBitacora": {
									"value": "1",
									"type": "Int16"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "DW_Popular",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "SP_DWH_Carga_FACT_Captacion",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Ini_Bitacora_Carga_FACT_Captacion",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "SP_DWH_Carga_FACT_Captacion",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Fin_Bitacora_Carga_FACT_Captacion",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "SP_DWH_Carga_FACT_Captacion",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[InformacionBitacora]",
							"storedProcedureParameters": {
								"Evento": {
									"value": "Carga FACT Captación",
									"type": "String"
								},
								"Mensaje": {
									"value": "Proceso Finalizado Exitosamente",
									"type": "String"
								},
								"Origen": {
									"value": "Data Factory - DWH -Transformacion_FACT_Captación",
									"type": "String"
								},
								"TipoBitacora": {
									"value": "2",
									"type": "Int16"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "DW_Popular",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Fin_Bitacora_Carga_FACT_Captacion_Error",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "SP_DWH_Carga_FACT_Captacion",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[InformacionBitacora]",
							"storedProcedureParameters": {
								"Evento": {
									"value": "Carga FACT Captación",
									"type": "String"
								},
								"Mensaje": {
									"value": "Proceso Fallido",
									"type": "String"
								},
								"Origen": {
									"value": "Data Factory - DWH - Transformacion_FACT_Captacion",
									"type": "String"
								},
								"TipoBitacora": {
									"value": "2",
									"type": "Int16"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "DW_Popular",
							"type": "LinkedServiceReference"
						}
					}
				],
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Transformacion_FACT_Credito')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Ini_Bitacora_Transformacion_DIM",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[InformacionBitacora]",
							"storedProcedureParameters": {
								"Evento": {
									"value": "Transformación DIM Crédito",
									"type": "String"
								},
								"Mensaje": {
									"value": "Proceso Ejecutándose",
									"type": "String"
								},
								"Origen": {
									"value": "Data Factory - DWH - Transformacion_FACT_Credito",
									"type": "String"
								},
								"TipoBitacora": {
									"value": "1",
									"type": "Int16"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "DW_Popular",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Transformacion_DIM_Credito",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Ini_Bitacora_Transformacion_DIM",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Transformacion_DIM_Credito",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Fin_Bitacora_Transformacion_DIM",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Transformacion_DIM_Credito",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[InformacionBitacora]",
							"storedProcedureParameters": {
								"Evento": {
									"value": "Transformación DIM Crédito",
									"type": "String"
								},
								"Mensaje": {
									"value": "Proceso Finalizado Exitosamente",
									"type": "String"
								},
								"Origen": {
									"value": "Data Factory - DWH - Transformacion_Credito",
									"type": "String"
								},
								"TipoBitacora": {
									"value": "2",
									"type": "Int16"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "DW_Popular",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Fin_Bitacora_Transformacion_DIM_Error",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Transformacion_DIM_Credito",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[InformacionBitacora]",
							"storedProcedureParameters": {
								"Evento": {
									"value": "Transformación DIM Crédito",
									"type": "String"
								},
								"Mensaje": {
									"value": "Proceso Fallido",
									"type": "String"
								},
								"Origen": {
									"value": "Data Factory - DWH - Transformacion_FACT_Credito",
									"type": "String"
								},
								"TipoBitacora": {
									"value": "2",
									"type": "Int16"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "DW_Popular",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Ini_Bitacora_Carga_NoDefinido",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Fin_Bitacora_Transformacion_DIM",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[InformacionBitacora]",
							"storedProcedureParameters": {
								"Evento": {
									"value": "Carga No Definido DIM  Crédito",
									"type": "String"
								},
								"Mensaje": {
									"value": "Proceso Ejecutándose",
									"type": "String"
								},
								"Origen": {
									"value": "Data Factory - DWH - Transformacion_FACT_SegmentaCliente",
									"type": "String"
								},
								"TipoBitacora": {
									"value": "1",
									"type": "Int16"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "DW_Popular",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "SP_DWH_Carga_NoDefinido_Credito",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Ini_Bitacora_Carga_NoDefinido",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "SP_DWH_Carga_NoDefinido_Credito",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Fin_Bitacora_Carga_NoDefinido_Credito",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "SP_DWH_Carga_NoDefinido_Credito",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[InformacionBitacora]",
							"storedProcedureParameters": {
								"Evento": {
									"value": "Carga No Definido DIM  Crédito",
									"type": "String"
								},
								"Mensaje": {
									"value": "Proceso Finalizado Exitosamente",
									"type": "String"
								},
								"Origen": {
									"value": "Data Factory - DWH -Transformacion_FACT_Credito",
									"type": "String"
								},
								"TipoBitacora": {
									"value": "2",
									"type": "Int16"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "DW_Popular",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Fin_Bitacora_Carga_NoDefinido_Credito_error",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "SP_DWH_Carga_NoDefinido_Credito",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[InformacionBitacora]",
							"storedProcedureParameters": {
								"Evento": {
									"value": "Carga No Definido DIM  Crédito",
									"type": "String"
								},
								"Mensaje": {
									"value": "Proceso Fallido",
									"type": "String"
								},
								"Origen": {
									"value": "Data Factory - DWH - Transformacion_FACT_Credito",
									"type": "String"
								},
								"TipoBitacora": {
									"value": "2",
									"type": "Int16"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "DW_Popular",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Ini_Bitacora_Carga_FACT_Credito",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Fin_Bitacora_Carga_NoDefinido_Credito",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[InformacionBitacora]",
							"storedProcedureParameters": {
								"Evento": {
									"value": "Carga FACT Crédito",
									"type": "String"
								},
								"Mensaje": {
									"value": "Proceso Ejecutándose",
									"type": "String"
								},
								"Origen": {
									"value": "Data Factory - DWH - Transformacion_FACT_Credito",
									"type": "String"
								},
								"TipoBitacora": {
									"value": "1",
									"type": "Int16"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "DW_Popular",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "SP_DWH_Carga_FACT_Credito",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Ini_Bitacora_Carga_FACT_Credito",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "SP_DWH_Carga_FACT_Credito",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Fin_Bitacora_Carga_FACT_Credito",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "SP_DWH_Carga_FACT_Credito",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[InformacionBitacora]",
							"storedProcedureParameters": {
								"Evento": {
									"value": "Carga FACT Crédito",
									"type": "String"
								},
								"Mensaje": {
									"value": "Proceso Finalizado Exitosamente",
									"type": "String"
								},
								"Origen": {
									"value": "Data Factory - DWH -Transformacion_FACT_Credito",
									"type": "String"
								},
								"TipoBitacora": {
									"value": "2",
									"type": "Int16"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "DW_Popular",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Fin_Bitacora_Carga_FACT_Credito_Error",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "SP_DWH_Carga_FACT_Credito",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[InformacionBitacora]",
							"storedProcedureParameters": {
								"Evento": {
									"value": "Carga FACT Crédito",
									"type": "String"
								},
								"Mensaje": {
									"value": "Proceso Fallido",
									"type": "String"
								},
								"Origen": {
									"value": "Data Factory - DWH - Transformacion_FACT_Credito",
									"type": "String"
								},
								"TipoBitacora": {
									"value": "2",
									"type": "Int16"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "DW_Popular",
							"type": "LinkedServiceReference"
						}
					}
				],
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Transformacion_FACT_SegmentaCliente')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Ini_Bitacora_Transformacion_DIM",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[InformacionBitacora]",
							"storedProcedureParameters": {
								"Evento": {
									"value": "Transformación DIM SegmentaCliente",
									"type": "String"
								},
								"Mensaje": {
									"value": "Proceso Ejecutándose",
									"type": "String"
								},
								"Origen": {
									"value": "Data Factory - DWH - Transformacion_FACT_SegmentaCliente",
									"type": "String"
								},
								"TipoBitacora": {
									"value": "1",
									"type": "Int16"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "DW_Popular",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Transformacion_DIM_SegmentaCliente",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Ini_Bitacora_Transformacion_DIM",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Transformacion_DIM_SegmentaCliente",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Fin_Bitacora_Transformacion_DIM",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Transformacion_DIM_SegmentaCliente",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[InformacionBitacora]",
							"storedProcedureParameters": {
								"Evento": {
									"value": "Transformación DIM SegmentaCliente",
									"type": "String"
								},
								"Mensaje": {
									"value": "Proceso Finalizado Exitosamente",
									"type": "String"
								},
								"Origen": {
									"value": "Data Factory - DWH - Transformacion_FACT_SegmentaCliente",
									"type": "String"
								},
								"TipoBitacora": {
									"value": "2",
									"type": "Int16"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "DW_Popular",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Fin_Bitacora_Transformacion_DIM_Error",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Transformacion_DIM_SegmentaCliente",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[InformacionBitacora]",
							"storedProcedureParameters": {
								"Evento": {
									"value": "Transformación DIM SegmentaCliente",
									"type": "String"
								},
								"Mensaje": {
									"value": "Proceso Fallido",
									"type": "String"
								},
								"Origen": {
									"value": "Data Factory - DWH - Transformacion_FACT_SegmentaCliente",
									"type": "String"
								},
								"TipoBitacora": {
									"value": "2",
									"type": "Int16"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "DW_Popular",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Ini_Bitacora_Carga_NoDefinido",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Fin_Bitacora_Transformacion_DIM",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[InformacionBitacora]",
							"storedProcedureParameters": {
								"Evento": {
									"value": "Carga No Definido DIM  SegmentaCliente",
									"type": "String"
								},
								"Mensaje": {
									"value": "Proceso Ejecutándose",
									"type": "String"
								},
								"Origen": {
									"value": "Data Factory - DWH - Transformacion_FACT_SegmentaCliente",
									"type": "String"
								},
								"TipoBitacora": {
									"value": "1",
									"type": "Int16"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "DW_Popular",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "SP_DWH_Carga_NoDefinido_SegmentaCliente",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Ini_Bitacora_Carga_NoDefinido",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "SP_DWH_Carga_NoDefinido_SegmentaCliente",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Fin_Bitacora_Carga_NoDefinido_SegmentaCliente",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "SP_DWH_Carga_NoDefinido_SegmentaCliente",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[InformacionBitacora]",
							"storedProcedureParameters": {
								"Evento": {
									"value": "Carga No Definido DIM  SegmentaCliente",
									"type": "String"
								},
								"Mensaje": {
									"value": "Proceso Finalizado Exitosamente",
									"type": "String"
								},
								"Origen": {
									"value": "Data Factory - DWH -Transformacion_FACT_SegmentaCliente",
									"type": "String"
								},
								"TipoBitacora": {
									"value": "2",
									"type": "Int16"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "DW_Popular",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Fin_Bitacora_Carga_NoDefinido_SegmentaCliente_Error",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "SP_DWH_Carga_NoDefinido_SegmentaCliente",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[InformacionBitacora]",
							"storedProcedureParameters": {
								"Evento": {
									"value": "Carga No Definido DIM  SegmentaCliente",
									"type": "String"
								},
								"Mensaje": {
									"value": "Proceso Fallido",
									"type": "String"
								},
								"Origen": {
									"value": "Data Factory - DWH - Transformacion_FACT_SegmentaCliente",
									"type": "String"
								},
								"TipoBitacora": {
									"value": "2",
									"type": "Int16"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "DW_Popular",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Ini_Bitacora_Carga_FACT_SegmentaCliente",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Fin_Bitacora_Carga_NoDefinido_SegmentaCliente",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[InformacionBitacora]",
							"storedProcedureParameters": {
								"Evento": {
									"value": "Carga FACT Segmenta Cliente",
									"type": "String"
								},
								"Mensaje": {
									"value": "Proceso Ejecutándose",
									"type": "String"
								},
								"Origen": {
									"value": "Data Factory - DWH - Transformacion_FACT_SegmentaCliente",
									"type": "String"
								},
								"TipoBitacora": {
									"value": "1",
									"type": "Int16"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "DW_Popular",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "SP_DWH_Carga_FACT_SegmentaCliente",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Ini_Bitacora_Carga_FACT_SegmentaCliente",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "SP_DWH_Carga_FACT_SegmentaCliente",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Fin_Bitacora_Carga_FACT_SegmentaCliente_copy1",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "SP_DWH_Carga_FACT_SegmentaCliente",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[InformacionBitacora]",
							"storedProcedureParameters": {
								"Evento": {
									"value": "Carga FACT SegmentaCliente",
									"type": "String"
								},
								"Mensaje": {
									"value": "Proceso Finalizado Exitosamente",
									"type": "String"
								},
								"Origen": {
									"value": "Data Factory - DWH -Transformacion_FACT_SegmentaCliente",
									"type": "String"
								},
								"TipoBitacora": {
									"value": "2",
									"type": "Int16"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "DW_Popular",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Fin_Bitacora_Carga_FACT_SegmentaCliente_Error",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "SP_DWH_Carga_FACT_SegmentaCliente",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[InformacionBitacora]",
							"storedProcedureParameters": {
								"Evento": {
									"value": "Carga FACT  SegmentaCliente",
									"type": "String"
								},
								"Mensaje": {
									"value": "Proceso Fallido",
									"type": "String"
								},
								"Origen": {
									"value": "Data Factory - DWH - Transformacion_FACT_SegmentaCliente",
									"type": "String"
								},
								"TipoBitacora": {
									"value": "2",
									"type": "Int16"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "DW_Popular",
							"type": "LinkedServiceReference"
						}
					}
				],
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Extrae_Captacion')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "CD_SISBI_BI_PasivosSaldos",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CD_SISBI_BI_PasivosSaldos",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CD_SISBI_BI_PasivosFechas",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "CD_SISBI_BI_PasivosSaldos",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CD_SISBI_BI_PasivosFechas",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CD_SISBI_BI_Pasivos",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "CD_SISBI_BI_PasivosFechas",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CD_SISBI_BI_Pasivos",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CD_SISBI_BI_CuentContaCapta",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CD_SISBI_BI_CuentContaCapta",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CD_SISBI_BI_DatosLocalesAZ",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CD_SISBI_BI_DatosLocalesAZ",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CD_SISBI_BI_IDPasiTranProg",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CD_SISBI_BI_IDPasiTranProg",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CD_SISBI_BI_CategoriasProd",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CD_SISBI_BI_CategoriasProd",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CD_SISBI_BI_CatPostRestrict",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CD_SISBI_BI_CatPostRestrict",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CD_SISBI_BI_BeneficiariosCaptacion",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CD_SISBI_BI_BeneficiariosCaptacion",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CD_SISBI_BI_CaptaCuotas",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CD_SISBI_BI_CaptaCuotas",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CD_SISBI_BI_IUCMetasFinanciero",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CD_SISBI_BI_IUCMetasFinanciero",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CD_SISBI_BI_CkCupones",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CD_SISBI_BI_CkCupones",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CD_SISBI_BI_StandingOrder",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CD_SISBI_BI_StandingOrder",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Extraer_Captacion')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "CD_SISBI_BI_PasivosFechas",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CD_SISBI_BI_PasivosFechas",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CD_SISBI_BI_Pasivos",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "CD_SISBI_BI_PasivosFechas",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CD_SISBI_BI_Pasivos",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CD_SISBI_BI_CuentContaCapta",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CD_SISBI_BI_CuentContaCapta",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CD_SISBI_BI_DatosLocalesAZ",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CD_SISBI_BI_DatosLocalesAZ",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CD_SISBI_BI_CategoriasProd",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CD_SISBI_BI_CategoriasProd",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CD_SISBI_BI_CatPostRestrict",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CD_SISBI_BI_CatPostRestrict",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CD_SISBI_BI_BeneficiariosCaptacion",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CD_SISBI_BI_BeneficiariosCaptacion",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CD_SISBI_BI_CaptaCuotas",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CD_SISBI_BI_CaptaCuotas",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CD_SISBI_BI_IUCMetasFinanciero",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CD_SISBI_BI_IUCMetasFinanciero",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CD_SISBI_BI_CkCupones",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CD_SISBI_BI_CkCupones",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CD_SISBI_BI_StandingOrder",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CD_SISBI_BI_StandingOrder",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Extraer_Cliente')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "CD_SISBI_BI_Clientes",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CD_SISBI_BI_Clientes",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CD_SISBI_BI_DatosLocalesCli",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CD_SISBI_BI_DatosLocalesCli",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CD_SISBI_BI_TipoDocumentoCliente",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CD_SISBI_BI_TipoDocumentoCliente",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CD_SISBI_BI_ClientCorpo",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CD_SISBI_BI_ClientCorpo",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CD_SISBI_BI_CarteraPriorizada",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CD_SISBI_BI_CarteraPriorizada",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CD_SISBI_BI_ActividadEconomicaCliente",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CD_SISBI_BI_ActividadEconomicaCliente",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CD_SISBI_BI_EstadoCivil",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CD_SISBI_BI_EstadoCivil",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CD_SISBI_BI_NIVEL_ACADEMICO",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CD_SISBI_BI_NIVEL_ACADEMICO",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CD_SISBI_BI_TipodeClientes",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CD_SISBI_BI_TipodeClientes",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CD_SISBI_BI_MaestroDef",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CD_SISBI_BI_MaestroDef",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CD_SISBI_BI_ESTADO_DEL_CLIENTE",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CD_SISBI_BI_ESTADO_DEL_CLIENTE",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CD_SISBI_BI_AmbitoActividadEcononica",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CD_SISBI_BI_AmbitoActividadEcononica",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CD_SISBI_BI_CICDeudores",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CD_SISBI_BI_CICDeudores",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CD_SISBI_BI_PatronosSicere",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CD_SISBI_BI_PatronosSicere",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CD_SISBI_BI_DetNegIntl",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CD_SISBI_BI_DetNegIntl",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CD_SISBI_BI_DireccionCorrespondenciaCliente",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CD_SISBI_BI_DireccionCorrespondenciaCliente",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CD_SISBI_BI_EstadoDelProducto",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CD_SISBI_BI_EstadoDelProducto",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CD_SISBI_BI_FinalidadDelProducto",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CD_SISBI_BI_FinalidadDelProducto",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CD_SISBI_BI_FuenteFondosTransaccionar",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CD_SISBI_BI_FuenteFondosTransaccionar",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CD_SISBI_BI_GeneradorMonedaExt",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CD_SISBI_BI_GeneradorMonedaExt",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CD_SISBI_BI_OcupacionLaboralCliente",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CD_SISBI_BI_OcupacionLaboralCliente",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CD_SISBI_BI_OperadoraDePensiones",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CD_SISBI_BI_OperadoraDePensiones",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CD_SISBI_BI_OrigenDePatrimonio",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CD_SISBI_BI_OrigenDePatrimonio",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CD_SISBI_BI_OrigenFondosMovilizar",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CD_SISBI_BI_OrigenFondosMovilizar",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CD_SISBI_BI_PaisNacionalidadCliente",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CD_SISBI_BI_PaisNacionalidadCliente",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CD_SISBI_BI_PasaTiemposCliente",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CD_SISBI_BI_PasaTiemposCliente",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CD_SISBI_BI_PoliticaCli",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CD_SISBI_BI_PoliticaCli",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CD_SISBI_BI_RANGOS_TRANSACCIONALES",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CD_SISBI_BI_RANGOS_TRANSACCIONALES",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CD_SISBI_BI_ResumenClientesPas",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CD_SISBI_BI_ResumenClientesPas",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CD_SISBI_BI_Sectores",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CD_SISBI_BI_Sectores",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CD_SISBI_BI_TotalSaldCliGen",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CD_SISBI_BI_TotalSaldCliGen",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CD_SISBI_BI_ClientInsti",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CD_SISBI_BI_ClientInsti",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CD_SISBI_BI_Nacimientos",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CD_SISBI_BI_Nacimientos",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "CD_SISBI_BI_SaldosPorClientes",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CD_SISBI_BI_SaldosPorClientes",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/CD_SISBI_BI_TipoDocumentoCliente')]",
				"[concat(variables('factoryId'), '/pipelines/CD_SISBI_BI_TipodeClientes')]",
				"[concat(variables('factoryId'), '/pipelines/CD_SISBI_BI_TotalSaldCliGen')]"
			]
		}
	]
}